:root {
  font-family: "TragicGrotesk", sans-serif;
  background-color: #030303;
  color: white;

  /* Fonts */
  --tragic-grotesk: "TragicGrotesk", sans-serif;
  --boecklins: "Boecklins Universe", sans-serif;

  /* Type colors */
  --goddess-color: #d7a954;
  --heroine-color: #8ab67b;
  --first-name-color: #6cb4cc;
  --famous-woman-color: #c97889;
  --other-color: #9b9b9b;

  /* Font colors */
  --font-gray: #757575;
  --card-bg-color: #181818;

  /* Fonts */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin: 0px;
  padding: 0px;
}

h3 {
  font-size: 2.2rem;
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
}
