:root {
  font-family: "TragicGrotesk", sans-serif;
  /* font-family: "Gentium Book Basic", sans-serif; */
  background: linear-gradient(#d7a954, #c97889);
  font-size: 16px;
  color: white;

  /* Fonts */
  --tragic-grotesk: "TragicGrotesk", sans-serif;
  --gentium: "Gentium Book Basic", "TragicGrotesk", serif;
  --boecklins: "Boecklins Universe", "TragicGrotesk", sans-serif;

  /* Type colors */
  --goddess-color: #d7a954;
  --heroine-color: #8ab67b;
  --first-name-color: #6cb4cc;
  --famous-woman-color: #c97889;
  --other-color: #9b9b9b;

  /* Font colors */
  --font-gray: #757575;
  --card-bg-color: #181818;

  /* Fonts */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Custom styles */

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
  margin: 0px;
  padding: 0px;
}

h3 {
  font-size: 2.2rem;
  margin: 0px;
  padding: 0px;
}

p {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  margin: 0;
  text-decoration: none;
  background: white;
  color: var(--card-bg-color);
  font-family: var(--tragic-grotesk);
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  color: white;
  background: var(--card-bg-color);
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}
